.head {
    position: sticky;
    top: 0;

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-text);

    padding: 2rem 6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head input[type="number"] {
    width: 4rem;
    margin-left: 0.25rem;
}

.head input[type="number"]:not(:last-child) {
    margin-right: 1rem;
}
