:root {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);

  --color-slider-off: #57565b;
  --color-amp-slider-on: #ffc04e;
  --color-pitch-slider-on: #ac45db;
  --color-slider-warning: #ff4646;
  --color-slider-ineffective: #7a7676;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: white;
    --color-text: #213547;

    --color-slider-off: black;
    --color-amp-slider-on: orange;
    --color-pitch-slider-on: #a100ea;
    --color-slider-warning: red;
    --color-slider-ineffective: #696565;
  }

  a:hover {
    color: #747bff;
  }
}

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
}
