.op {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.op .header .label {
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.op > .controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--color-bg);
    transform: translateX(-10rem);

    transition: transform 60ms ease-in-out;
}

.op > .extra-options {
    margin: 1rem;
    width: 8rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.op.show-extra-options > .controls {
    transform: translateX(0);
}
