.op {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.op > .label {
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.op > .controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
