.slider {
    width: 32px;
    user-select: none;
}

.slider-inner-off {
    background-color: var(--color-slider-off);
}

.slider.amp .slider-inner-on {
    background-color: var(--color-amp-slider-on);
}

.slider.pitch .slider-inner-on {
    background-color: var(--color-pitch-slider-on);
}

.slider.warning .slider-inner-on {
    background-color: var(--color-slider-warning);
}

.slider.ineffective .slider-inner-on {
    background-color: var(--color-slider-ineffective);
}
